body {
  background-color: #fdfdfd;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  border-bottom: 1px #eee solid;
  color: #009;
}
aside {
  float: left;
  width:25%;
  border-right: 1px #eee solid;
  height:500px;
  overflow-y: scroll;
}

h2 {
  color: #999;
}
#messages {
  height:420px;
  overflow-y: scroll;
  float: left;
  width: 74%;
}
#messages div {
  padding: 8px;
}
#new-message {
  height:80px;
  float: left;
  width: 74%;
}
#new-message input {
  width:79%;
  height:74px;
}
#send {
  background: #009;
  color: #fff;
  border-radius: 3px;
  border: 1px #eee solid;
  width: 19%;
  height:80px;
}
@media (max-width: 640px) {
  aside {
    float: none;
    width:100%;
    height: auto;
  }
  #messages {
    width:100%;
    height: auto;
    float: none;
    padding-bottom: 80px;
  }
  #new-message {
    position: fixed;
    bottom: 0;
    left:   0;
    float: none;
    width:100%;
  }
  #send {
    position: absolute;
    bottom: 0;
    right:  0;
  }
}
